@model DMofaUniversity.Models.tblUser

@{
    ViewBag.Title = "RegisterASectionOfficer";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: blanchedalmond">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Register", "ManageRegistrationForm", "ManageRegistration")</li>
                    <li>@Html.ActionLink("LogIn", "ManageLogIn", "ManageRegistration")</li>
                    <li>@Html.ActionLink("LogOut", "Logout", "ManageRegistration")</li>
                </ul>
            </div>
        </div>
    </div>


    <h2>Register as  a Section Officer</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="background-color: bisque">
            <div class="form-horizontal">
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true)

                @*<div class="form-group">
                        @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserID)
                            @Html.ValidationMessageFor(model => model.UserID)
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User_Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User_Password)
                        @Html.ValidationMessageFor(model => model.User_Password)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User_CPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User_CPassword)
                        @Html.ValidationMessageFor(model => model.User_CPassword)
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.User_RoleId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.User_RoleId)
                            @Html.ValidationMessageFor(model => model.User_RoleId)
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Code)
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    }
    @if (TempData["m"] != null)
    {
        <script type="text/javascript">
            alert("@TempData["m"]");
        </script>
    }
    <div>
        @Html.ActionLink("Do more", "RegisterASectionOfficer")
    </div>

</body>
</html>
